/* Universal code for all pages */

body {
    /* background-color: #3a4660; */
    background-image: linear-gradient(#3a4660, #e9e1da, #3a4660);
    margin: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.boxed-content {
    border-color: #ed8a63;
    background-color: #d1bead;
    border-style: solid;
    border-width: medium;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    /* float: left; */
    display: block;
    color: black;
    overflow: auto;
    max-width: 940px;
    width: 940px;
    /* position: relative; */
    margin: auto;
}

header {
    background-color: #d1bead;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border: #ed8a63 3px solid;
    max-width: 970px;
    width: 970px;
    margin: auto;
    
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 20px 20px;
    position: relative;
    top: -48px;
    color: black;
    background-color: #d1bead;
}

header nav {
    float: right;
    margin-top: 10px;
    color: black;
}

/* Profile specific */

#profile-img {
    width: 20%;
    height: 20%;
    float: left;
    display: block;
    padding-right: 40px;
}

/* Contact specific */

.contact {
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Portfolio specific */

.p-img {
    width: 150px;
    height: 150px;
    clear: both;
    border: 1px solid black;
    z-index: 1;
    margin: 10px;
    display: inline-block;
}

.p-title {
    border-color: #ed8a63;
    background-color: #3a4660;
    border-style: solid;
    border-width: medium;
    z-index: 99;
    width: 150px;
    height: 40px;
    margin-top: -14px;
    margin-left: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.container {
    position: relative;
    content: "";
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 35%;
}

.grid {
    width: 160px;
}

h1 {
    margin-left: 30px;
    padding-bottom: 10px;
    
}